@import "../variables.scss";

@keyframes workDetailsOnboardTextSlideYIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.WorkDetail__mainWrapper {
  width: 80%;
  min-height: 100vh;
  display: flex;
}

.projectDetails__copyWrapper {
  width: 100%;
  max-width: 540px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.projectDetails__header {
  font-size: 64px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 50px;
  animation-name: workDetailsOnboardTextSlideYIn;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
}

.projectDetails__bodyCopy {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  div:not(:last-child) {
    border-right: 1px solid $darkgray;
  }
  div:first-child {
    font-weight: 800;
    color: #272727;
    font-size: 100%;
    flex: 1  auto;
  }
}

.projectDetails__visualWrapper {
  margin-top: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

.react-slider {
  width: 770px;
  div {
    z-index: -3;
  }
}

.each-slide {
  position: relative;
  > img {
    background-size: cover;
    height: auto;
    width: inherit;
  }
}



.WorkDetailsHeroSlider__ballBG {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 55%;
  z-index: -5;
}

.is--loadedState.projectDetails__visualWrapper {
  animation-name: workDetailsBallBGOnboard;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.52, 0.2, 0.415, 1.32);
  transform-origin: top left;
}

.is--loadedState.CTAgrid__gridGroupWrapper,
.is--loadedState.projectDetails__bodyCopy,
.is--loadedState.projectDetails__mainHeader,
.is--loadedState.projectKeyFeatures__mainWrapper {
  animation-name: workDetailsOnboardTextSlideYIn;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
}

.is--loadedState.projectDetails__bodyCopy {
  animation-delay: 0.7s;
}